*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/IN-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.logo{
    width: 9.25rem;
    height: 2.5rem;
    cursor: pointer;
    
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}
.lan-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid  #fff;
    padding: 7px 10px ;

}
.sign-in{
    font-weight: bold;
}
.lan-btn img{
    width: 10px;
    margin-left: 10px;
}
.lan-btn i{
    padding-right: 1rem;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    margin-top: 30px;
}
.header-content h1{
    font-size: 2.6rem;
    font-weight: 700;
    
}
.header-content h3{
    font-weight: 400;
    padding: 2rem;
    
}
.email-signup{
   background: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   margin-top: 30px;
   overflow: hidden;
  
}
.inp-email{
flex: 1;
border:0;
outline: 0;
margin-left: 20px;
}
.inp-btn{
    border: 0;
    outline: 0;
    background: rgb(229, 9, 20);
    color: #fff;
    font-size: 16px;
    padding: 15px;
    cursor: pointer; 
    font-size: 23px;
    font-weight: bold;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}



